<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipes</title>
</head>
<body>
    <header>
    </header>
    <main class="container">
        <div class="row justify-content-cente">
            <div class="col">
                <form action="/register/user" method="POST">
                    <h1>Register</h1>
                    {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>FLASH MESSAGE!!</strong>
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div>
                        <label for="first_name">First Name:</label>
                        <input type="text" name="first_name">
                    </div>
                    <div>
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="myInput">
                        <input type="checkbox" onclick="showPassword()">Show Password
                    </div>
                    <div>
                        <label for="passCon">Confirm Password:</label>
                        <input type="password" name="passCon">
                    </div>
                    <input type="submit" name="Submit Registration">
                </form>
            </div>
            <div class="col">
                <form action="/login" method="POST">
                    <h1>Login</h1>
                    {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>FLASH MESSAGE!!</strong>
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="text" name="password">
                    </div>
                    <input type="submit" name="Login">
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>